.body-principal {
    background-color:dimgrey;
}

.body-segundo {
    background-color:aqua;
}

.body-terceiro {
    background-color:black
}

h1 {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}